@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: 'ArabicFont';
  src: url('./assets/fonts/Almarai.ttf') format('truetype');
}
@font-face {
  font-family: 'LatinFont';
  src: url('./assets/fonts/FiraCode.ttf') format('truetype');
}
@theme {
  --breakpoint-xs: 480px;
}